**API(Application Programming Interface, 응용 프로그램 프로그래밍 인터페이스)란,<br>
데이터의 소유자가 자신의 데이터에 쉽게 접근할 수 있도록 프로그램과 데이터베이스를 연결해주는 매개체**<br>
최근에는 API를 더 쉽게 사용할 수 있게 도와주는 다양한 파이썬 패키지가 많으며, 퀀트 쪽에서도 크롤링→API로 변하는 추세임.<br>
<br>
FinanceDataReader: https://github.com/FinanceData/FinanceDataReader

In [4]:
import FinanceDataReader as fdr
# StockListing 함수로 수집할 종목의 symbol을 얻고, 이 symbol을 DataReader의 입력으로 사용한다.

KP_stock_list = fdr.StockListing("KOSPI")
display(KP_stock_list)

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,61000,2,-700,-1.13,61200,61600,60800,11267323,689131318150,361097913242000,5919637922,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,212500,2,-3000,-1.39,211500,214500,209500,1180268,250603953750,154700502562500,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,331500,1,2500,0.76,331000,335000,328500,118110,39237076000,77571000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,1078000,2,-17000,-1.55,1085000,1089000,1074000,16770,18117779500,76725572000000,71174000,STK
4,005380,KR7005380001,현대차,KOSPI,,214000,1,9000,4.39,204500,216000,203500,1103406,233918167750,44815064874000,209416191,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958,002785,KR7002781003,진흥기업우B,KOSPI,,3220,1,90,2.88,3135,3230,3135,171,542700,2760241960,857218,STK
959,014915,KR7014911002,성문전자우,KOSPI,,4510,2,-10,-0.22,4520,4520,4435,105,474310,2706000000,600000,STK
960,004415,KR7004411005,서울식품우,KOSPI,,1197,2,-6,-0.50,1198,1220,1197,5517,6617482,2662726500,2224500,STK
961,001525,KR7001521004,동양우,KOSPI,,4100,1,35,0.86,4080,4100,4080,234,955020,2532697100,617731,STK
962,001527,KR7001522002,동양2우B,KOSPI,,8150,1,100,1.24,8110,8150,8110,577,4702280,2514837350,308569,STK

In [7]:
# 'KB금융(105560)' 주가 데이터
sp_data = fdr.DataReader("105560", "2024-03-23", "2025-03-23")
display(sp_data)

             Open   High    Low  Close   Volume    Change
Date
2024-03-25  74200  75100  71000  72000  2053367 -0.038718
2024-03-26  72300  74400  71800  71800  1711871 -0.002778
2024-03-27  71700  72000  68700  69000  2106983 -0.038997
2024-03-28  70000  70900  69500  70300  1618747  0.018841
2024-03-29  71300  71800  69500  69500  1004163 -0.011380
...           ...    ...    ...    ...      ...       ...
2025-03-17  79100  79900  78400  78900   804423  0.007663
2025-03-18  79900  81100  79800  80200  1164823  0.016477
2025-03-19  80800  81700  80400  81200   907656  0.012469
2025-03-20  82200  82700  81600  82300  1260292  0.013547
2025-03-21  81100  83300  80500  81300  2609924 -0.012151

[240 rows x 6 columns]

In [8]:
SP500_stock_list = fdr.StockListing("SP500")
display(SP500_stock_list)

,Symbol,Name,Sector,Industry
0,MMM,3M,Industrials,Industrial Conglomerates
1,AOS,A. O. Smith,Industrials,Building Products
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment
3,ABBV,AbbVie,Health Care,Biotechnology
4,ACN,Accenture,Information Technology,IT Consulting & Other Services
...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment
502,ZTS,Zoetis,Health Care,Pharmaceuticals

In [9]:
sp_data = fdr.DataReader("MMM", "2024-03-23", "2025-03-23")
display(sp_data)

,Open,High,Low,Close,Volume,Adj Close
2024-03-22,89.966553,90.401337,89.255852,89.280937,5321243,87.292595
2024-03-25,88.545151,89.306023,87.608696,87.658859,6680019,85.706642
2024-03-26,87.006691,87.516724,85.618729,85.811035,7279693,83.899971
2024-03-27,86.120399,87.591972,86.112038,87.449837,4641676,85.502281
2024-03-28,87.466553,88.846153,87.449837,88.687294,5245776,86.712173
...,...,...,...,...,...,...
2025-03-17,150.369995,153.979996,150.000000,153.210007,4562100,153.210007
2025-03-18,152.570007,153.210007,150.500000,150.919998,3038500,150.919998
2025-03-19,151.190002,153.970001,150.919998,153.210007,2344100,153.210007
2025-03-20,151.649994,153.649994,151.089996,151.270004,2579000,151.270004
2025-03-21,149.899994,150.759995,148.070007,150.360001,5538500,150.360001

In [11]:
# 코스피 지수, 다우존스 지수 데이터
KP_idx_data = fdr.DataReader("KS11", "2024-01-01", "2025-01-01")
display(KP_idx_data)

# Volume: 거래량. 이 날 거래된 총 주식의 수량
# Amount: 거래대금. 거래량 x 체결가격
# UpDown: 지수 등락 여부. 1=상승마감, 2=하락마감
# Comp: 변동 포인트(지수 차이). 전일 대비 몇 포인트 등락했는지 절대값

,Open,High,Low,Close,Volume,Change,UpDown,Comp,Amount,MarCap
Date,,,,,,,,,,
2024-01-02,2645.47,2675.80,2641.88,2669.81,409871688,0.0055,1,14.53,9628190129018,2147223894556881
2024-01-03,2643.54,2643.72,2607.31,2607.31,463131608,-0.0234,2,-62.50,10121578328315,2096573473823721
2024-01-04,2592.44,2602.64,2580.09,2587.02,770176172,-0.0078,2,-20.29,8992273956601,2081862659594752
2024-01-05,2586.89,2592.29,2572.60,2578.08,522289892,-0.0035,2,-8.94,8384472928787,2075148802709824
2024-01-08,2584.23,2591.68,2566.34,2567.82,320143990,-0.0040,2,-10.26,6763632029996,2067290656237408
...,...,...,...,...,...,...,...,...,...,...
2024-12-23,2423.36,2446.97,2413.62,2442.01,428166806,0.0157,1,37.86,7375539570358,1998047401443676
2024-12-24,2450.55,2452.85,2432.42,2440.52,386777917,-0.0006,2,-1.49,6740790173171,1997825853682133
2024-12-26,2449.52,2449.52,2428.82,2429.67,322800054,-0.0044,2,-10.85,6410407187557,1989005161072953
2024-12-27,2419.46,2423.86,2388.33,2404.77,311291279,-0.0102,2,-24.90,6339606976315,1966956732701405
2024-12-30,2397.49,2429.75,2390.44,2399.49,303963509,-0.0022,2,-5.28,5315451121758,1963328801432073

In [12]:
DJI_idx_data = fdr.DataReader("DJI", "2024-01-01", "2025-01-01")
display(DJI_idx_data)

,Open,High,Low,Close,Volume,Adj Close
2024-01-02,37566.218750,37790.078125,37495.910156,37715.039062,350280000,37715.039062
2024-01-03,37629.230469,37629.230469,37401.851562,37430.191406,322010000,37430.191406
2024-01-04,37425.281250,37716.410156,37425.281250,37440.339844,380220000,37440.339844
2024-01-05,37455.460938,37623.621094,37323.820312,37466.109375,299480000,37466.109375
2024-01-08,37327.371094,37692.921875,37249.238281,37683.011719,362200000,37683.011719
...,...,...,...,...,...,...
2024-12-24,42916.480469,43297.648438,42871.761719,43297.031250,230410000,43297.031250
2024-12-26,43201.851562,43373.980469,43115.089844,43325.800781,270350000,43325.800781
2024-12-27,43142.371094,43238.851562,42761.558594,42992.210938,376960000,42992.210938
2024-12-30,42863.859375,42863.859375,42263.511719,42573.730469,383300000,42573.730469
2024-12-31,42636.699219,42779.691406,42421.289062,42544.218750,359210000,42544.218750

In [15]:
# 기타 금융 데이터 수집도 가능하다. 원자재 선물, 환율, 채권 수익률 등.
display(fdr.DataReader("CL", "2024-01-01", "2025-01-01")) # WTI Crude Oil

# Adjusted Close Price: 수정 종가. 배당, 액면분할 및 병합 등의 이벤트를 반영한 실질적인 종가.

                 Open       High        Low      Close   Volume  Adj Close
2024-01-02  79.629997  80.730003  79.389999  80.720001  6099500  78.533012
2024-01-03  80.959999  81.300003  79.820000  79.889999  4959600  77.725502
2024-01-04  79.889999  80.589996  79.760002  80.339996  4441900  78.163300
2024-01-05  80.430000  80.519997  79.519997  79.980003  2825100  77.813065
2024-01-08  80.120003  80.440002  79.769997  80.400002  3703300  78.221687
...               ...        ...        ...        ...      ...        ...
2024-12-24  91.830002  92.500000  91.699997  92.389999  1531600  91.869141
2024-12-26  92.099998  92.540001  91.919998  92.370003  1919500  91.849258
2024-12-27  92.730003  92.730003  91.650002  91.809998  2544100  91.292412
2024-12-30  91.529999  91.599998  90.430000  90.790001  2832100  90.278168
2024-12-31  91.029999  91.519997  90.260002  90.910004  2911900  90.397491

[252 rows x 6 columns]

In [14]:
display(fdr.DataReader("USD/KRW", "2024-01-01", "2025-01-01")) # 달러/원 환율

,Open,High,Low,Close,Volume,Adj Close
2024-01-01,1293.530029,1293.540039,1293.530029,1293.530029,0,1293.530029
2024-01-02,1292.890015,1313.489990,1291.170044,1293.540039,0,1293.540039
2024-01-03,1307.619995,1312.829956,1304.280029,1307.619995,0,1307.619995
2024-01-04,1309.530029,1314.709961,1305.079956,1309.530029,0,1309.530029
2024-01-05,1311.250000,1321.829956,1306.040039,1311.250000,0,1311.250000
...,...,...,...,...,...,...
2024-12-25,1453.420044,1458.079956,1448.449951,1453.420044,0,1453.420044
2024-12-26,1457.609985,1470.290039,1454.770020,1457.609985,0,1457.609985
2024-12-27,1466.989990,1487.040039,1462.800049,1466.989990,0,1466.989990
2024-12-30,1472.800049,1475.250000,1466.359985,1472.800049,0,1472.800049
2024-12-31,1467.390015,1478.060059,1464.890015,1467.390015,0,1467.390015

In [20]:
display(fdr.DataReader("KR10YT", "2024-01-01", "2025-01-01")) # 10년 만기 한국 국채
# 404 에러가 뜬다.

HTTPError: 404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v8/finance/chart/KR10YT?period1=1704034800&period2=1735657200&interval=1d&includeAdjustedClose=true